.nav-item {
    font-family: 'Source Sans Pro', sans-serif;
}

.section-one {
    background-image: url("./images/test-photo.jpg");
    height: 700px;
    /* background-repeat: no-repeat; */
}

p, ul, h6 {
    font-family: 'Crimson Text', serif;
}

.about-section {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer {
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}