.card {
    margin-bottom: 5%;
}

.pricing-nav {
    margin-bottom: 3%;
}

.L2_charger {
    padding-top: 5px;
}

.l2_title {
    color: #C9C9C9;
}

.L3_charger {
    padding-top: 5px;
}

.l3_title {
    color: #C9C9C9;
}

.calculator-card {
    width: 35em!important;
    background-color: #4B4B4B;
    color: #FEF43D;
    padding: 5% 10%;
}

.info-card {
    width: 42em!important;
    padding-bottom: 15px;
    border: none;
    padding: 2% 10%;
}

.l2_text{
    color: #C9C9C9;
}

.l3_text{
    color: #C9C9C9;
}

.calculator__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;
}

.calculator__row:last-child {
    margin-bottom: 0;
}

.calculator__row label {
    text-transform: capitalize;
    font-weight: 700;
}

.calculator__bill {
    width: 50%;
}

.calculator__tip {
    width: 60%;
}

.calculator__info {
    text-transform: capitalize;
    margin: 0;
}

.bg-success {
    background-color: #2575B2!important;
}

#calculate{
    width: 20%;
    float: right;
}

#clear{
    width: 20%;
}

.calculator__button{
    padding-top: 5px;
}

.invest-title{
    padding-left: 40px;
}

.col-md-6{
    padding-bottom: 50px;
}

.content-card {
    width: 80%!important;
}