@charset "utf-8";
/* CSS Document */

.hide {
  display: none;
}

.text-transform {
	text-transform:uppercase;
}
.mrgn-20-top {
	margin-top:20px
}
.blue-color {
	color:#7ea4f5
}
.header-background {
	width:100%;
	background:#343433;
	color:#FFF;
}
.header-background h2 {
	color:#FFF;
}

.Private-Plan-header, .Commercial-Plan-header {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

.Private-plan-container, .Commercial-plan-container {
    font-family: 'Helvetica', sans-serif; /*'Helvetica'; 'Avenir Next';*/
    margin: 15px;
    padding: 15px;
    background-color: ghostwhite;
}

.state-selection {
    text-align: center;
    vertical-align: bottom;
    color: black;
    font-size: 200%;
}

.plan-amount {
    font-weight:bold;
    color: #49b936;
}

.year-size, .month-size {
    font-size: 60%;
}

.reference-size {
    font-size: 60%;
    vertical-align: text-top;
    font-weight:bold;
}

.minutes-bullet {
    line-height: 150%;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.pricing-bg {
	background:#f8f8f8;
}
.pricing-bg h2 {
	color:#7ea4f5;
	font-weight:bold;
	font-size:2.25rem;
}
#footer-base {
	background:#343433;
	color:#fff;
	margin:0;
	padding:20px 0 50px 0
}
#footer-base a {
	color:#fff;
	text-decoration:none
}
#footer-base a:hover {
	color:#7ea4f5
}
p.blue-phone {
	font-size:18px;
	font-weight:bold;
	color:#484860;
}
.active-tb {
	position: relative;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 2px 10px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 2px 10px 0px rgba(50, 50, 50, 0.5);
	transform: scale(1);
	border:0;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
	z-index:13;
}
.active-tb:hover {
	position: relative;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 2px 10px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 2px 10px 0px rgba(50, 50, 50, 0.5);
	transform: scale(1.2);
	border:0;
	z-index:15;
}
.shadow {
	-webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 2px 10px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 2px 10px 0px rgba(50, 50, 50, 0.5);
}
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
 .active-tb {
 position: relative;
 -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
 -moz-box-shadow:    0px 2px 10px 0px rgba(50, 50, 50, 0.5);
 box-shadow:         0px 2px 10px 0px rgba(50, 50, 50, 0.5);
 transform: scale(0.9);
 border:0;
 -webkit-transition: 0.4s ease;
 -moz-transition: 0.4s ease;
 -o-transition: 0.4s ease;
 transition: 0.4s ease;
 z-index:13;
}
.active-tb:hover {
 position: relative;
 -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
 -moz-box-shadow:    0px 2px 10px 0px rgba(50, 50, 50, 0.5);
 box-shadow:         0px 2px 10px 0px rgba(50, 50, 50, 0.5);
 transform: scale(1.1);
 border:0;
 z-index:15;
}
}
 @media screen and (max-width : 480px) {
 h1.main-title {
font-size: 1.825rem;
}
 h2.main-second {
font-size: 1.2875rem;
}
 p {
font-size: 0.9rem;
}
 .pricing-bg h2 {
font-size: 1.5rem;
line-height: 1;
}
 .top-bar .name h1 a {
font-weight: normal;
color: white;
width: 100%;
display: block;
padding: 2px 0 0 0;
}
.active-tb {
 position: relative;
 -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
 -moz-box-shadow:    0px 2px 10px 0px rgba(50, 50, 50, 0.5);
 box-shadow:         0px 2px 10px 0px rgba(50, 50, 50, 0.5);
 transform: scale(0.95);
 border:0;
 -webkit-transition: 0.4s ease;
 -moz-transition: 0.4s ease;
 -o-transition: 0.4s ease;
 transition: 0.4s ease;
 z-index:13;
}
.active-tb:hover {
 position: relative;
 -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
 -moz-box-shadow:    0px 2px 10px 0px rgba(50, 50, 50, 0.5);
 box-shadow:         0px 2px 10px 0px rgba(50, 50, 50, 0.5);
 transform: scale(1.05);
 border:0;
 z-index:15;
}
}
