/* OVERALL LAYOUT */

body {
    overflow: scroll;
}


/* Nav Bar */
.nav-item {
    font-family: 'Source Sans Pro', sans-serif;
    
}

.nav-link:hover {
    color: white;
}

a {
    color: #F9400F;
}

.bg-light {
    background-color: #fdfdfd00 !important;
}

ul.navbar-nav li.dropdown:hover div.dropdown-menu {
    display: block;
}
/* End Nav */

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.section-two {
    /* background-image: url("../images/car.jpg");
    height: 530px;
    background-repeat: no-repeat; */
    margin-bottom: 15px;
}

h2 {
    color: black;
}

h6,
h5 {
    font-family: 'Crimson Text', serif;
    color: #174076;
}

h5 {
    text-decoration: underline;
}

h6 {
    font-weight: bold;
}

p,
ul {
    font-family: 'Crimson Text', serif;
    color: #4B4B4B;
    list-style: none;
}


/* Footer */
footer {
    background-color: #B6D6CC;
    font-size: 1rem;
    width: 100%;
}

.col-md-2 {
    color: #4B4B4B;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.social {
    color: #FDFDFD;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* End Footer */

/* END LAYOUT */


/* OUR NETWORK */
#map {
    height: 600px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    background-color: #FFFFFF;
    border-color: #999 #999 #999 #999;
}

#legend {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 1px dashed #000;
    text-align: left;
}

.PlanYear {
    background-color: white;
    border: none;
    color: black;
    padding: 16px 32px;
    border: 2px solid #4CAF50;
    border-radius: .3em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.PlanYear:hover {
    background-color: palegreen;
    border-color: green;
    color: white;
}

.PlanYear.active {
    border-color: green;
    background-color: #4CAF50;
}

.network-header,
.invest-header {
    text-align: center
}

/* END NETWORK */



/* CONTACT */
.contact-card {
    padding: 5% 10%;
}

.contact-one,
.contact-two {
    text-align: center;
}

.contact-two {
    margin-bottom: 30px;
}

/* END CONTACT */


.about-section {
    text-align: center;
}

.summary {
    width: 80%;
}

.about-paragraph {
    font-size: 24px;
}

#cars {
    width: 900px;
}

.contact {
    text-align: center;
}

/* .card {
    margin-bottom: 10px;
    width: 22rem !important;
    color: #4B4B4B;
    width: 800px;
    margin: 50px auto 0;
    border: 1px solid #4B4B4B;
} */

.card-title {
    color: #2575B2;
}


.col-md-9 {
    text-align: center;
}

.box {
    border-radius: .25rem;
    border: #4B4B4B solid 1px !important;
}




/* MAILCHIMP */
.subscribe {
    padding: 0px 165px 0px 330px !important;
}

#mc_embed_signup {
    /* background: #4B4B4B; */
    clear: left;
    font: 20px 'Crimson Text', serif;
    border-radius: .25em;
    color: #4B4B4B;
    width: 18rem;
    padding-left: 20px;
    margin-top: 10px;
}

#mce-EMAIL {
    width: 140px;
    border: groove #2575B2 1px;
    border-radius: .25rem;
    font-size: 16px;
    height: 2.25em;
}

#mc-embedded-subscribe {
    vertical-align: baseline;
}

.btn-secondary {
    background-color: #2575B2;
    color: #FDFDFD;
    font-weight: bold;
    font-size: 16px;
    border-radius: .25rem;
    border: #FDFDFD solid 1px;
}

/* END MAILCHIMP */


.wrapper__title {
    text-transform: capitalize;
    margin: 0 0 40px;
    color: #FEF43D;
}



