body {
    overflow: scroll;
}

.bg-light { 
    background-color: #065143 !important;

}
.nav-item {
    font-family: 'Source Sans Pro', sans-serif;
    
}
.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #8FD5A6;
}

.section-one {
    background-image: url("../images/background.png");
    height: 300px;
    background-repeat: no-repeat;
    /* background-repeat: no-repeat; */
}

#map {
    height: 500px;
}

h1 {
    color: white;
}

p,
ul,
h6 {
    font-family: 'Crimson Text', serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.contact-header {
    margin-bottom: 40px;
}

.contact-one,
.contact-two {
    text-align: center;
}

h5 {
    text-decoration: underline;
}

h6 {
    font-weight: bold;
}

.about-section {
    text-align: center;
}

.about-paragraph {
    font-size: 24px;
}

#cars {
    width: 900px;
}

.contact {
    text-align: center;
}

.card {
    margin-bottom: 10px;
}

.justify-content-center {
    margin-right: 45px;
}


.social {
    background-color: #8FD5A6;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
}

i {
    margin-left: 15px;
}


.footer {
    color: #ffffff;
    background-color: #065143;
    align-content: center;
    text-align: center;
}

.card {
    width: 800px;
    margin: 50px auto 0;
    padding: 60px 30px;
    border: 1px solid #000;
}

.wrapper__title {
    text-transform: capitalize;
    margin: 0 0 40px;
}

.calculator__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;
}

.calculator__row:last-child {
    margin-bottom: 0;
}

.calculator__row label {
    text-transform: capitalize;
    font-weight: 700;
}

.calculator__bill {
    width: 50%;
}

.calculator__tip {
    width: 60%;
}

.calculator__info {
    text-transform: capitalize;
    margin: 0;
}

h2 {
    color:black;
}

.L2_charger {
    padding-top: 5px;
}

.L3_charger {
    padding-top: 5px;
}