body {
    overflow: scroll;
}

.bg-light {
    background-color: #FDFDFD !important;
}

.nav-item {
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-link {
    color: #4B4B4B
}

.nav-link:hover {
    color: #FEF43D;
}

.section-one {
    background-image: url("../images/nissan.jpg");
    height: 549px;
    background-repeat: no-repeat;
    /* background-repeat: no-repeat; */
}

#map {
    height: 500px;
}

h1 {
    color: white;
    font-family: 'Noto Serif', serif;
    font-size: 85px;
    color: #4B4B4B;
    text-shadow: -1px 0 #C9C9C9, 0 1px #C9C9C9, 1px 0 #C9C9C9, 0 -1px #C9C9C9;
}

h6 {
    font-family: 'Crimson Text', serif;
    color: #2575B2;
}


p,
ul {
    font-family: 'Crimson Text', serif;
    color: #4B4B4B;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.contact-header {
    margin-bottom: 40px;
}

.contact-one,
.contact-two {
    text-align: center;
}

h5 {
    text-decoration: underline;
}

h6 {
    font-weight: bold;
}

.about-section {
    text-align: center;
}

.about-paragraph {
    font-size: 24px;
}

#cars {
    width: 900px;
}

.contact {
    text-align: center;
}

.card {
    margin-bottom: 10px;
    width: 22rem !important;
    color: #4B4B4B;
    width: 800px;
    margin: 50px auto 0;
    padding: 60px 30px;
    border: 1px solid #4B4B4B;
}

.calculator-card {
    width: 42em !important;
    background-color: #4B4B4B;
    color: #FEF43D;
}

.card-title {
    color: #2575B2;
}

.social {
    background-color: #2575B2;
    color: #FDFDFD;
    font-weight: bold;
    margin-top: 10px;
}

.social {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.social-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #2575B2;
}


footer {
    background-color: #C9C9C9;
    font-size: 1rem;
    width: 100%;
}

.footer-bottom {
    background-color: #2575B2;
    min-height: 50px;
    padding: 10px 0;
}

.p-2 {
    padding: 0.5rem 9rem .5rem 9rem!important;
}


.wrapper__title {
    text-transform: capitalize;
    margin: 0 0 40px;
    color: #FEF43D;
}

.calculator__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;
}

.calculator__row:last-child {
    margin-bottom: 0;
}

.calculator__row label {
    text-transform: capitalize;
    font-weight: 700;
}

.calculator__bill {
    width: 50%;
}

.calculator__tip {
    width: 60%;
}

.calculator__info {
    text-transform: capitalize;
    margin: 0;
}

h2 {
    color: black;
}

.L2_charger {
    padding-top: 5px;
}

.l2_title {
    color: #C9C9C9;
}

.L3_charger {
    padding-top: 5px;
}

.l3_title {
    color: #C9C9C9;
}

.bg-success {
    background-color: #2575B2 !important;
}

#mc_embed_signup {
    background: #4B4B4B;
    clear: left;
    font: 20px 'Crimson Text', serif;
    border-radius: .25em;
    color: #FDFDFD;
    height: 10rem;
    width: 18rem;
    padding-left: 20px;
    margin-top: 10px;
}

.btn-secondary {
    background-color: #2575B2;
    color: #FDFDFD;
    font-weight: bold;
    font-size: 16px;
    border-radius: .25rem;
    border: #FDFDFD solid 1px; 
}